{{ template "base" . }}

{{ define "content" }}
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col">
        <p class="justify-content">
          Set in the picturesque Cornish village of Mitchell, The Plume of Feathers is a 16th Century coaching Inn. Guests can take advantage of the on-site pub and restaurant at the property, which also offers free parking and free Wi-Fi.
          Whether it is enjoying breakfast in the conservatory, lunch in the pub or dinner beside the roaring log fire, guests will be treated to local Cornish seasonal produce. The extensive menu offers tasty dishes such as Steamed St Austell Bay mussels and Fricassee of local pork loin.
          Rooms at The Plume of Feathers are set within separate converted barns and stables. The elegant rooms are equipped with an private bathroom, a TV with satellite channels and tea and coffee making facilities.
          Located less than 984 feet from the A30, the property is only a 20-minute drive from Newquay, with Newquay Airport a further 3 miles away. The city of Truro is less than 9 miles from The Plume and Quintrell Downs Rail Station is less than 4 miles away.      
        </p>
      </div>
    </div>
  </div>
{{ end }}
