{{ template "base" . }}

{{ define "content" }}
  <div class="container">
    <div class="row">
      <div class="col">
        <h5 class="mt-3">info@charleen-cottage.com
        <h5 class="mt-3">(+44)7378529451</h5>
      </div>
    </div>
  </div>
{{ end }}
