{{ template "base" . }}

{{ define "content" }}
<div class="container">
  <div id="main-carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators">
      <li data-bs-target="#main-carousel" data-bs-slide-to="0" class="active"></li>
      <li data-bs-target="#main-carousel" data-bs-slide-to="1"></li>
      <li data-bs-target="#main-carousel" data-bs-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="/static/images/home.jpg"
          class="d-block w-100"
          alt="Home seaview"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Amazing seaview</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="/static/images/bedroom.jpg"
          class="d-block w-100"
          alt="Bedroom"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Cosy bedrooms</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="carousel-item">
        <img
          src="/static/images/bathroom.jpg"
          class="d-block w-100"
          alt="Bathroom"
        />
        <div class="carousel-caption d-none d-md-block">
          <h5>Relaxing bathroom</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center mtb-4">
          Welcome to Charleen's Bed & Breakfast
        </h1>
        <p>
          Set in the picturesque Cornish village of Mitchell, The Plume of Feathers is a 16th Century coaching Inn. Guests can take advantage of the on-site pub and restaurant at the property, which also offers free parking and free Wi-Fi.
          Whether it is enjoying breakfast in the conservatory, lunch in the pub or dinner beside the roaring log fire, guests will be treated to local Cornish seasonal produce. The extensive menu offers tasty dishes such as Steamed St Austell Bay mussels and Fricassee of local pork loin.
          Rooms at The Plume of Feathers are set within separate converted barns and stables. The elegant rooms are equipped with an private bathroom, a TV with satellite channels and tea and coffee making facilities.
          Located less than 984 feet from the A30, the property is only a 20-minute drive from Newquay, with Newquay Airport a further 3 miles away. The city of Truro is less than 9 miles from The Plume and Quintrell Downs Rail Station is less than 4 miles away.      
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col text-center">
        <a href="/search-availability" class="btn btn-success"
          >Make Reservation Now</a
        >
      </div>
    </div>
  </div>
</div>
{{ end }}
